@model List<tv_online.Models.TbChannel>;
@{
    var countries = Model.Select(c => c.Country).Distinct();
}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4">List Channel</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">

        @foreach (var country in countries)
        {
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-primary">@country</li>
                @{
                    var channels = Model.Where(c => c.Country == country).Select(c => new { name = c.Channel, code = c.ShortCode, image = c.LogoUrl }).Distinct();
                    foreach (var channel in channels)
                    {
                        var url = Url.Content("/channel/" + channel.code + "/1");
                        @*<li class="list-group-item"><a asp-action="Watch" asp-controller="Home" asp-route-code="@channel">@channel</a></li>*@
                        <li class="list-group-item"><a href="@url"><img class="logo_channel" src="@channel.image" alt="@channel.name" /></a></li>
                    }
                }
            </ul>
                    }
    </div>
</div>
